.jumbotron h1, h2, h3, h4, h5, p {
    color: black;
    font-weight: 300;
}

.jumbotron .btn {
    background-color: #2586ff !important;
    border-radius: 6px;
    box-shadow: none;
}

a { color: #2586ff; }

#menu a {
    font-weight: 300;
    font-size: 14pt;
    color: black;
}

#statistic {
    background-color: #ffaf28;
    box-shadow: none;
    color: black;
}

#statistic .stat {color: black;}

#statistic hr {border-top-color: black;}

.venue-text {
    background-color: #2586ff;
}
.venue-text * { 
    color: white;
}

#partners .btn{ 
    background-color: #ffaf28 !important;
    box-shadow: none;
    box-radius: 8px;
    font-size: 16pt;
}

#prelegent {
    background-color: #343232;
}

#prelegent h3 {
    color: #ffaf28;
} 

#prelegent h5 {
    color: white;
}
#prelegent p {
    color: #ffaf28;
}
